DISCORD__TOKEN=YOUR_TOKEN_HERE
DISCORD__GUILD_ID=DEV_SERVER_GUILD_ID_HERE
DISCORD__SYNC_COMMANDS=true (optional)

LOGGING__LEVEL=DEBUG/INFO/WARNING/ERROR (optional)

SKILLFORGE__BASE_URL=http://localhost:8000
SKILLFORGE__CLIENT_ID=YOUR_SKILLFORGE_BOT_ID
SKILLFORGE__CLIENT_SECRET=YOUR_SKILLFORGE_BOT_SECRET
SKILLFORGE__TIMEOUT_SECONDS=10 (optional)
